@font-face {
    font-family: Nav;
    src: url(../font/BiotripSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Logo;
    src: url(../font/Marley\ Antique.ttf) format('truetype');
}

@font-face {
    font-family: texto;
    src: url(../font/Eloura\ Sans.otf) format('truetype');
}

/* Responsividade (Para celular) */
@media (max-width: 768px) {
    .secao-flex {
        flex-direction: column;
        /* No celular, o texto fica embaixo da foto */
    }
    .servico-nome,
    .servico-preco {
        font-size: 18px;
    }

    .container-agendamento {
        margin: 0 20px 50px;
        padding: 20px;
    }

    .grade-horarios {
        grid-template-columns: repeat(3, 1fr);
    }
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

nav {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 10vh;

}

nav li {
    list-style: none;
    text-decoration: none;

}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Nav';
}

.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-family: 'Logo';
}

.LogoImg {
    height: 60px;
    width: auto;
    padding-right: 10px;

}

.Links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
}

/* Configuração das seções que dividem o espaço (Lado a Lado) */
.secao-flex {
    display: flex;
    align-items: center;
    padding: 30px 15px;
    gap: 40px;
}

#sobre {
    padding-top: 120px;
}

#sobre img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.secao-flex>div {
    flex: 1;
    /* Faz os dois lados terem o mesmo tamanho */
}

.texto-sobre {
    align-self: flex-start;
}

.texto-sobre h1 {
    font-size: 50px;
    font-family: 'Logo';
    font-weight: normal;
}

.texto-sobre p {
    font-size: 22px;
    font-family: 'texto';
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #aaaaaa;
}

/* Seção Padrão*/

.secao {
    padding: 0px;
    background-color: #181818;
    /* Mantendo o padrão do seu body */
    color: white;
    text-align: center;
}

.titulo {
    text-align: center;
    margin-bottom: 40px;
}

.titulo h1 {
    font-family: 'Nav';
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.titulo p {
    font-family: 'texto';
    font-size: 20px;
    color: #aaaaaa;
}

.lista-servicos {
    max-width: 800px;
    margin: 0 auto;
    /* Centraliza a tabela na tela */
}

.item-servico {
    display: flex;
    align-items: baseline;
    /* Alinha o texto pela base */
    margin-bottom: 20px;
}

.servico-nome {
    font-family: 'texto';
    font-size: 22px;
    white-space: nowrap;
}

.servico-linha {
    flex: 1;
    /* Faz a linha ocupar todo o espaço central */
    border-bottom: 2px dotted #444;
    /* Cria o efeito pontilhado */
    margin: 0 10px;
}

.servico-preco {
    font-family: 'texto';
    /* Usando sua fonte de destaque */
    font-size: 22px;
    color: #d4af37;
    /* Dourado para destacar o preço */
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    ;
    justify-content: center;
    padding-bottom: 20px;
    gap: 20px;
}

.fotos {
    width: 30%;
    font-family: 'nav';
    font-weight: normal;
    color: #fff;
}

.fotos img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 50px 50px 50px;
}

.mapa iframe {
    border: 0;
    border-radius: 15px;
    width: 80%;
    height: 450px;
}

.mapa h1 {
    padding-left: 30px;
}

.mapa a {
    color: #d4af37;
    text-decoration: none;
}

.mapa a:hover {
    color: #685414;
}

/* Container Principal */
.agendamentoBloco {
    max-width: 600px;
    margin: 0 auto 50px;
    background-color: #0c0c0c;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #333;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 25px;
}

.grupo-input label {
    font-family: 'Nav';
    margin-bottom: 10px;
    color: #d4af37;
}

.grupo-input input {
    background-color: #181818;
    border: 1px solid #333;
    padding: 12px;
    border-radius: 8px;
    color: #696969;
    font-family: 'texto';
    font-size: 16px;
}

/* Ícone do Calendário */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/* Grade de Horários */
.grade-horarios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding-right: 5px;
}

/* Cards de Horário Estilizados */
.card-horario input {
    display: none;
}

.card-horario span {
    display: block;
    padding: 10px;
    background: #181818;
    border: 1px solid #333;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-family: 'texto';
}

.card-horario input:checked+span {
    background: #d4af37;
    color: #000;
    border-color: #d4af37;
}

.card-horario span:hover {
    border-color: #d4af37;
}

/* Botão de Envio */
.btn-agendar {
    width: 100%;
    padding: 15px;
    background-color: #d4af37;
    color: #000;
    border: none;
    border-radius: 8px;
    font-family: 'Nav';
    font-size: 20px;
    cursor: pointer;
}

.btn-agendar:hover {
    background-color: #b1942d;
    transform: translateY(-2px);
}


footer a {
    color: #d4af37;
    text-decoration: none;
}

footer {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 10px;
}