@font-face {
    font-family: Nav;
    src: url(../font/BiotripSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Logo;
    src: url(../font/Marley\ Antique.ttf) format('truetype');
}

@font-face {
    font-family: texto;
    src: url(../font/Eloura\ Sans.otf) format('truetype');
}

/* Responsividade (Para celular) */
@media (max-width: 768px) {
    .secao-flex {
        flex-direction: column;
        /* No celular, o texto fica embaixo da foto */
    }
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

nav {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}

nav li {
    list-style: none;
    text-decoration: none;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Nav';
}

.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: 'Logo';
}

.LogoImg {
    height: 60px;
    width: auto;
    padding-right: 10px;

}

.Links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 10px;
}

/* Configuração das seções que dividem o espaço (Lado a Lado) */
.secao-flex {
    display: flex;
    align-items: center;
    padding: 30px 15px;
    gap: 40px;
}

#sobre img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.secao-flex>div {
    flex: 1;
    /* Faz os dois lados terem o mesmo tamanho */
}

.texto-sobre {
    align-self: flex-start;
}

.texto-sobre h1 {
    font-size: 50px;
    font-family: Logo;
    font-weight: normal;
}

.texto-sobre p {
    font-size: 22px;
    font-family: texto;
    font-weight: normal;
    letter-spacing: 1.5px;
}

/* Seção Padrão (Conteúdo Centralizado) */
.secao-padrao {
    text-align: center;

}